
#main-nav {
    background-color: lightblue;
    text-align: center;
}
  
#main-nav li:hover {
    background-color: lavender;
    color: black;
}
  
#main-nav li {
    display: inline-block;
    position: relative;
}
  
#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}
  
body {
    background-color: darkcyan;
    padding: 20px;
}

#pageTitle {
    background-color: white;
    text-align: center;
    border: 1px black solid;
}


.students {
    background-color: lightblue;
    display: inline-block;
    border: 2px black solid;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    margin-top:10px;
}

.info {
    text-align: center;
}
#name {
    border-bottom: 2px black solid;
}

#linkedin {
    text-decoration:underline;
    color: blue;
}

.project {
    display:inline-block;
    border: 2px black solid;
    background-color: antiquewhite;
}

li {
    font-weight: bold;
}
