
#main-nav {
    background-color: lightblue;
    text-align: center;
}
  
#main-nav li:hover {
    background-color: lavender;
    color: black;
}
  
#main-nav li {
    display: inline-block;
    position: relative;
}
  
#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}
  
body {
    background-color: aliceblue;
    padding: 20px;
}

#pageTitle {
    text-align: center;
}

.movieSearch {
    width: 70%;
    position: relative;
    right: 20px;
    top: 20px;
    margin-right: 20px;
    background-color: lavender;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

#userAside {
    width: 20%; 
    position: relative;
    right: 20px;
    top: 20px;
    float: right;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}